@import url("https://fontlibrary.org//face/minecraftia");

body {
  background-color: #0d1117;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  gap: 0;
}

.grid-cell {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid gray;
}

.grid-reso-btn {
  cursor: pointer;
  padding: 0.5em;
  border: 0;
  border-radius: 10px;
  font-family: "Minecraftia", sans-serif;
  font-size: 1rem;
  white-space: nowrap;
  color: white;
  background-color: rgb(138, 43, 226);
}

.grid-reso-btn:hover {
  background-color: rgba(138, 43, 226, 0.5);
}

.grid-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
}
